In [103]:
import pandas as pd

# Data Understanding / Preparation

# Section 1. Exploring Datasets

In [104]:
# Using an example dataset determine file encoding format to ensure we can read this date into a dataframe
with open("data/ProdVolumeQuarters.csv") as file:
    print(file)

<_io.TextIOWrapper name='data/ProdVolumeQuarters.csv' mode='r' encoding='UTF-8'>

In [105]:
# Reviewing this datafile to view observations and features
df = pd.read_csv ("data/ProdVolumeQuarters.csv")
df.shape

(4, 59)

In [106]:
# list all the features of the datset
print (df.columns.values)

['freq' 'indic_bt' 'nace_r2' 's_adj' 'unit' 'geo\\TIME_PERIOD' '2010-Q1 '
 '2010-Q2 ' '2010-Q3 ' '2010-Q4 ' '2011-Q1 ' '2011-Q2 ' '2011-Q3 '
 '2011-Q4 ' '2012-Q1 ' '2012-Q2 ' '2012-Q3 ' '2012-Q4 ' '2013-Q1 '
 '2013-Q2 ' '2013-Q3 ' '2013-Q4 ' '2014-Q1 ' '2014-Q2 ' '2014-Q3 '
 '2014-Q4 ' '2015-Q1 ' '2015-Q2 ' '2015-Q3 ' '2015-Q4 ' '2016-Q1 '
 '2016-Q2 ' '2016-Q3 ' '2016-Q4 ' '2017-Q1 ' '2017-Q2 ' '2017-Q3 '
 '2017-Q4 ' '2018-Q1 ' '2018-Q2 ' '2018-Q3 ' '2018-Q4 ' '2019-Q1 '
 '2019-Q2 ' '2019-Q3 ' '2019-Q4 ' '2020-Q1 ' '2020-Q2 ' '2020-Q3 '
 '2020-Q4 ' '2021-Q1 ' '2021-Q2 ' '2021-Q3 ' '2021-Q4 ' '2022-Q1 '
 '2022-Q2 ' '2022-Q3 ' '2022-Q4 ' '2023-Q1 ']

In [107]:
# Drop features unneeded as part of cleaning the dataset
df = df.drop(['freq', 'indic_bt', 'nace_r2', 's_adj', 'unit'], axis = 1)
print(list(df.columns))

['geo\\TIME_PERIOD', '2010-Q1 ', '2010-Q2 ', '2010-Q3 ', '2010-Q4 ', '2011-Q1 ', '2011-Q2 ', '2011-Q3 ', '2011-Q4 ', '2012-Q1 ', '2012-Q2 ', '2012-Q3 ', '2012-Q4 ', '2013-Q1 ', '2013-Q2 ', '2013-Q3 ', '2013-Q4 ', '2014-Q1 ', '2014-Q2 ', '2014-Q3 ', '2014-Q4 ', '2015-Q1 ', '2015-Q2 ', '2015-Q3 ', '2015-Q4 ', '2016-Q1 ', '2016-Q2 ', '2016-Q3 ', '2016-Q4 ', '2017-Q1 ', '2017-Q2 ', '2017-Q3 ', '2017-Q4 ', '2018-Q1 ', '2018-Q2 ', '2018-Q3 ', '2018-Q4 ', '2019-Q1 ', '2019-Q2 ', '2019-Q3 ', '2019-Q4 ', '2020-Q1 ', '2020-Q2 ', '2020-Q3 ', '2020-Q4 ', '2021-Q1 ', '2021-Q2 ', '2021-Q3 ', '2021-Q4 ', '2022-Q1 ', '2022-Q2 ', '2022-Q3 ', '2022-Q4 ', '2023-Q1 ']

In [108]:
# It was observed that column headers included whitespace, clean column headers by stripping trailing whitespace
df = df.rename(columns=lambda x: x.strip())

In [109]:
# list all the features of the datset
print(list(df.columns))

['geo\\TIME_PERIOD', '2010-Q1', '2010-Q2', '2010-Q3', '2010-Q4', '2011-Q1', '2011-Q2', '2011-Q3', '2011-Q4', '2012-Q1', '2012-Q2', '2012-Q3', '2012-Q4', '2013-Q1', '2013-Q2', '2013-Q3', '2013-Q4', '2014-Q1', '2014-Q2', '2014-Q3', '2014-Q4', '2015-Q1', '2015-Q2', '2015-Q3', '2015-Q4', '2016-Q1', '2016-Q2', '2016-Q3', '2016-Q4', '2017-Q1', '2017-Q2', '2017-Q3', '2017-Q4', '2018-Q1', '2018-Q2', '2018-Q3', '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4', '2020-Q1', '2020-Q2', '2020-Q3', '2020-Q4', '2021-Q1', '2021-Q2', '2021-Q3', '2021-Q4', '2022-Q1', '2022-Q2', '2022-Q3', '2022-Q4', '2023-Q1']

In [110]:
# Rename some column names to ease further manipulation
df = df.rename (columns={'geo\TIME_PERIOD': 'GEO', '2010-Q1': '2010Q1', '2010-Q2': '2010Q2'})
print(list(df.columns))
df.head()

['GEO', '2010Q1', '2010Q2', '2010-Q3', '2010-Q4', '2011-Q1', '2011-Q2', '2011-Q3', '2011-Q4', '2012-Q1', '2012-Q2', '2012-Q3', '2012-Q4', '2013-Q1', '2013-Q2', '2013-Q3', '2013-Q4', '2014-Q1', '2014-Q2', '2014-Q3', '2014-Q4', '2015-Q1', '2015-Q2', '2015-Q3', '2015-Q4', '2016-Q1', '2016-Q2', '2016-Q3', '2016-Q4', '2017-Q1', '2017-Q2', '2017-Q3', '2017-Q4', '2018-Q1', '2018-Q2', '2018-Q3', '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4', '2020-Q1', '2020-Q2', '2020-Q3', '2020-Q4', '2021-Q1', '2021-Q2', '2021-Q3', '2021-Q4', '2022-Q1', '2022-Q2', '2022-Q3', '2022-Q4', '2023-Q1']

,GEO,2010Q1,2010Q2,2010-Q3,2010-Q4,2011-Q1,2011-Q2,2011-Q3,2011-Q4,2012-Q1,...,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1
0,AT,97.8,98.9,97.1,96.0,96.8,99.9,98.5,101.3,98.7,...,123.2,126.7,127.7,125.9,126.6,131.8,132.6,129.4,130.6,:
1,BE,101.0,102.7,102.9,97.5,106.5,106.0,106.2,106.7,105.6,...,96.2,99.8,98.2,97.8,96.9,99.3,99.0,99.3,99.3,:
2,IE,99.8,98.9,93.0,85.0,79.0,76.3,78.3,81.1,77.4,...,140.3,110.0,123.1,131.8,140.6,135.5,131.5,129.1,125.1 p,:
3,NO,78.5,79.8,80.1,79.3,79.6,81.3,80.2,85.2,86.3,...,116.7,117.8,116.8,118.2,121.3,123.2,124.1,123.0,123.9,123.7

In [114]:
# Demonstrate how the data will be manipulated by moving from wide format to long format
melted = pd.melt(df, id_vars=['GEO'], value_vars=['2010Q1', '2010Q2'], var_name='PERIOD', value_name='ProductionVolume')
melted.head(10)

  GEO  PERIOD  ProductionVolume
0  AT  2010Q1              97.8
1  BE  2010Q1             101.0
2  IE  2010Q1              99.8
3  NO  2010Q1              78.5
4  AT  2010Q2              98.9
5  BE  2010Q2             102.7
6  IE  2010Q2              98.9
7  NO  2010Q2              79.8

# Section 2. Cleaning Datasets

In [112]:
# Create an array to store all of the datasets that will be cleaned 
datafiles = [
    'data/BuildPermitsQuarters.csv', 
    'data/HousePriceIndxQuarters.csv', 
    'data/LabourInputQuarters.csv', 
    'data/ProdCostsQuarters.csv',
    'data/ProdVolumeQuarters.csv',
    'data/SentimentIndicatorsQuarters.csv'
    ]


# Define a function that cleans the original datasets into the format that has been demonstrated above
def cleancolumns(datafiles):

    cleaned = []

    for datafile in datafiles:
        formatdata = pd.read_csv(datafile) # Read a dataset from the datafiles array
        columns = [c.strip() for c in formatdata.columns] # Remove trailing whitespaces
        correctformat = [c.replace('-', '') if '-' in c else c for c in columns]  # Strip out - character from column headers
        
    
        if 'geo\TIME_PERIOD' in correctformat: # Rename the 'geo\TIME_PERIOD' column to 'GEO'
            geocolumn = correctformat.index('geo\TIME_PERIOD')
            correctformat[geocolumn] = 'GEO'

        formatdata.columns = correctformat
        cleaned.append(formatdata)

    return cleaned

# Call the cleancolumns function and apply to the datasets stored in the datafiles array 
formatteddata = cleancolumns(datafiles)


# Use a loop to drop unneeded column featurs from each datafile

for data in formatteddata:
    allcolumns = data.columns.tolist() #list all current columns

    for column in allcolumns: # Use a for loop to drop columns according to specific criteria
         if not column.startswith('2') and column != 'GEO':
            data.drop(columns=[column], inplace=True)

In [120]:
# Assign list entries to individual dataframes for future use
df_permits = formatteddata[0]
df_priceIndx = formatteddata[1]
df_labourInput = formatteddata[2]
df_prodCost = formatteddata[3]
dfs5_prodVolume = formatteddata[4]
dfs6_Sentiment = formatteddata[5]

# Print an example of a correctly formatted dataframe
df_permits.head()

,GEO,2010Q1,2010Q2,2010Q3,2010Q4,2011Q1,2011Q2,2011Q3,2011Q4,2012Q1,...,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4,2023Q1
0,AT,72.4 s,98.1 s,97.8 s,82.9 s,84.2 s,93.9 s,111.4 s,98.5 s,72.6 s,...,114.4 e,120.0 e,124.0 e,100.2 e,89.6 e,86.8 e,90.1 e,85.7 e,66.6 e,:
1,BE,116.2 s,139.7 s,98.9 s,89.3 s,96.8 s,110.4 s,104.5 s,110.3 s,117.8 s,...,124.3 p,130.2 p,133.9 p,111.8 p,128.7 p,116.5 p,112.5 p,96.7 p,101.4 p,:
2,IE,115.7,133.8,114.9,77.6,98.3,102.1,76,57.6,56.4,...,188,150.2,198.5,216.9,200.7,169,172.9,146.7,146.7,:
3,NO,91.3,99.8,81.4,109.3,113.2,93.1,89.5,108.2,93.1,...,106.5,96,118.3,96.6,110.3,:,:,:,:,:

# Section 3. Feature Engineering

Modify the dataset for ProductionVolumes

In [134]:
# move data from wide format to long format
df_permits = pd.melt(dfs1, id_vars=['GEO'], value_vars=values, var_name='PERIOD', value_name='ProductionVolume')

# Create a new feature that will be used to uniquely identify each row
df_permits['GEO_PERIOD'] = df_permits['GEO'].astype(str) + ' ' + df_permits['PERIOD'].astype(str)
df_permits = df_permits[['GEO_PERIOD', 'ProductionVolume']]


# Use a function to remove any letters from the productionVolume column
def stripletters(s):
    return ''.join(filter(lambda x: not x.isalpha(), s)) # Use isalpha method to remove letters from each row https://www.w3schools.com/python/ref_string_isalpha.asp

df_permits['ProductionVolume'] = df_permits['ProductionVolume'].apply(stripletters)

df_permits.head(10)

  GEO_PERIOD ProductionVolume
0  AT 2010Q1            72.4
1  BE 2010Q1           116.2
2  IE 2010Q1            115.7
3  NO 2010Q1             91.3
4  AT 2010Q2            98.1
5  BE 2010Q2           139.7
6  IE 2010Q2            133.8
7  NO 2010Q2             99.8
8  AT 2010Q3            97.8
9  BE 2010Q3            98.9